@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body 
{
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    background-color: #080808;
    color: #9C9C9C;
}
.mainnav
{
    display: flex;
    justify-content: center;
    .nav
    {
        .sub
        {
            display: flex; 
            justify-content: space-evenly; 
            width: 100%;
            align-items: center;
        }
        width: 1110px;
        height: 70px;
        background-color: #1B1B1B;
        
        a
        {
            text-decoration: none;
            color: #9C9C9C;
        }
        ul 
        {
            li 
            {
                display: inline;
            }
        }
    }
}
.intro
{
    .row
    {
        img
        {
            width: 300px;
            border-radius: 50%;
        }
    }
}
.work
{
    ul 
    {
        padding-left: 0;
        padding-top: 10px;
        li 
        {
            display: inline;
        }
    }
    a
    {
        text-decoration: none;
        color: #9C9C9C;
        border: 1px solid #1B1B1B;
        padding: 10px;
        border-radius: 5px;
    }
}
@media(max-width:480px)
{
    .mainnav
    {
        .nav
        {
            width: 100%;
        }
    }
}